h2, .side-nav li h3 {
	margin-top: 5px;
	margin-bottom: 0;
}

a {
	color: #323232;
}

label {
	font-weight: normal;
}

#wrapper {
    padding: 0;    
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #FFFFFF;
    margin-top: 40px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 0px;
        left: 300px;
        width: 300px;
        margin-left: -300px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #24292E;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 0px;
    }

    .side-nav>li ul li label {
        width: 300px;
    }

    .side-nav li ul li label.actived,
    .side-nav li ul li label:hover,
    .side-nav li ul li label:focus {
        outline: none;
        background-color: #323232 !important;
    }
}

.side-nav>li ul {
    padding: 0;
    margin-bottom: 5px;
}

.side-nav, .side-nav a {
	color: #f5f5f5;
}

.side-nav a:focus, .side-nav a:hover {
    background-color: #323232!important;
}

.nav li a {
	padding: 6px 15px;
}

.side-nav li {
	float: none;
}

.side-nav li h3 {
	padding: 10px 4px 3px 18px;
}

.side-nav li h4 {
	padding: 10px 4px 10px 18px;
	margin: 0;
}

.side-nav li h2, .side-nav li h5, .side-nav li div {
	padding: 3px 4px 3px 18px;
	margin: 0;
}

.side-nav>li>ul>li label {
    display: block;
    padding: 3px 4px 3px 32px;
    text-decoration: none;
    color: #D4D4D4;
    margin: 0;
    cursor: pointer;
    word-wrap: break-word;
}

.side-nav>li>ul>li label>input {
	margin-right: 3px;
}

navbar .nav > li  a:hover > .label {
  top: 10px;
}

.filters {
	margin-bottom: 5px;
}

.filters .filter {
    display: inline-block;
    cursor: pointer;
    background: #24292E;
    color: #D4D4D4;
    padding: 2px 4px;
    margin-right: 5px;
    margin-bottom: 4px;
    box-shadow: 0 0 black;
}

.modal-dialog {
	width:80%;
}

.modal-content {
	border-radius: 0;
	border: 0;
}

.table {
	margin-bottom: 0px;
}

table {
	border: 0;
}

table tr {
	cursor: pointer;
}

table tr:hover {
	background: #EAEAEA!important;
}

.navbar-header {
	position: absolute;
	display: block;
	background: #24292E;
	left: 300px;
	right:0;
	color: #FFFFFF;
	padding: 4px;
}

.navbar-header a {
	color: #FFFFFF;
}

.modal-header h5 a {
    color: #337AB7;
    text-decoration: underline;
}