@media screen and (min-width: 1200px) {
    ::ng-deep .mat-input-wrapper {
        min-width: 287px !important;
    }
}

@media screen and (max-width: 400px) {
    ::ng-deep .mat-input-wrapper {
        min-width: 100% !important;
        width: 100%;
    }
}
